html, body {
    max-width: 100%;
    overflow-x: hidden;
}
nav .navbar-nav li a{
    color: black !important;
    }
.gradient {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(184, 63%, 47%));
}
body{
    Font-size: 18px;
    font-family: 'Public Sans', sans-serif;  
}
.navbar .navbar-nav {
    float: none;
    vertical-align: top;
}  
.navbar .navbar-collapse {
    text-align: center;
  }
.nav-link:hover  {
    border-bottom: 5px solid  hsl(136, 65%, 51%);
}  
#intro{
    background-color: hsl(0, 0%, 98%);
    height: 450px;
}
#intro-img{
background-image: url("./images/bg-intro-desktop.svg"); 
background-size: cover;
height: 500px;
position: relative;
top: -105px;
right: -100px;
}
#mockup{
    position: relative;
    right: -190px;
    bottom: -60px;
    height: 500px;
}
#features{
    background-color: hsl(220, 16%, 96%);
}
#articles{
    background-color: hsl(0, 0%, 98%);
}
#footer{
    background-color: hsl(233, 27%, 24%);
}
#mobile-intro{
    display: none;
}
#articles a{
    color: black;
}
#articles a:hover{
    color:hsl(136, 65%, 51%);
    text-decoration: none;
}
#footer a{
    color: white;
}
#footer a:hover{
    color:hsl(136, 65%, 51%);
    text-decoration: none;
}
@media only screen and (max-width: 741px) {
        .centered {
            text-align:center;
        }
        #intro-img{
            display: none;     
        }
        #mobile-intro{
                display: block;
                background-image: url("./images/bg-intro-mobile.svg");
                background-size: cover;
                background-repeat: no-repeat;

        }
        #intro{
                height: auto;
        }
        .none{
                display: none;
        }
}